h1 a{
  color: #808080;
  font-family: 'WASH YOUR HANDS';
}

body {
  font-family: 'WASH YOUR HANDS';
  padding: 20px;
  background: black;
  color: red;
}

img{
  max-height:300px;
  max-width:300px;
  height:auto;
  width:auto;
}

.header {
  background-color: #808080;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
  font-family: 'WASH YOUR HANDS';
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'WASH YOUR HANDS';
  color: red;
}

.save {
  float: center;
}

.form textarea, .form input {
  width: 100%;
}

.top, .top:hover, .top:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
  font-family: 'WASH YOUR HANDS';
}

.post {
  margin-bottom: 70px;
  font-family: 'WASH YOUR HANDS';
  color: red;
}

.post h2 a, .post h2 a:visited {
  color: #000000;
  font-family: 'WASH YOUR HANDS';
}

.footer h1{
  font-size: 36pt;
  text-decoration: none;
  font-family: 'WASH YOUR HANDS';
  color: red;
}
