{% load static %}

<html>
    <head>
        <title>Chirp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    </head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'posts:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu">Log In</a>
            <a href="{% url 'users:user_signup' %}"  class="top-menu">Sign Up</a>
        {% endif %}
        <h1><a href="{% url 'posts:chirp_index' %}">Chirp</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div class="page-footer">
        <a href=""><h1>Back to top</h1></a>
    </div>
</body>
</html>