{% extends 'posts/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>author: <a href="{% url 'users:user_detail' post.author.username %}">{{ post.author }}</a></p>
                <p>created: {{ post.created_date }}</p>
                {% if post.edited %}
                    <p>edited: {{ post.edited }}</p>            
                {% endif %}
            </div>
            {% if post.author == user %}
                <a href="{% url 'posts:post_edit' post.pk%}">edit</a>
                <a href="{% url 'posts:post_delete' post.pk%}">delete</a>
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
            {% if post.image %}
                <img height=Auto, width=Auto, src="{{post.image.url}}">
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}