{% extends 'chirp_timeline/foundation.html' %}

{% block content %}
    {% for rant in rants %}
        <div class="rant">
            <div class="date">
                <p>ranter: <a href="{% url 'ranters:detail' rant.ranter.trollavatar %}">{{ post.author }}</a></p>
                <p>incepted: {{ rant.incepted }}</p>
                {% if rant.tarnished %}
                    <p>tarnished: {{ rant.tarnished }}</p>            
                {% endif %}
            </div>
            {% if rant.ranter == user %}
                <a href="{% url 'rants:tarnish' rant.pk%}">tarnish</a>
                <a href="{% url 'rants:banish' rant.pk%}">banish</a>
            {% endif %}
            <p>{{ rant.spitfire|linebreaksbr }}</p>
            {% if rant.avatar %}
                <img height=Auto, width=Auto, src="{{rant.avatar.url}}">
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}