<h1>Shopping List</h1>

         <div class="box">
                <h2>Add an item to the list</h2>
                <form action="{% url 'create' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="item" id="item" required/>
                    <label for="item">Add an Item</label><br/>
                    <input type="submit" value="Add to List"/>
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                </form>
<form action= {% url 'complete' %} method='post'>
    {% csrf_token %}
    {% if current_list %}
        <ul>
        {% for item in current_list %}
            {% if  item.is_completed %}
                <text style= text-decoration:line-through>{{item}}</text><br>
            {% else %}
                <input type="checkbox" name="{{item.pk}}" value= {{item}}><label for "completed{{forloop.counter}}">{{item}}</label><br>
            {% endif %}
        {% endfor %}

        </ul>

    {% else %}
        <p>Nothing to see here!</p>

    {% endif %}

<input type="submit" value="mark as completed">
</form>

<form action= '{% url "delete" %}' method='post'>
    {% csrf_token %}
    <input type="submit" value="remove completed items">
</form>

