*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Digital-7';
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,80,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock .time{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .time1 { --rotation: 30deg; }
.clock .time2 { --rotation: 60deg; }
.clock .time3 { --rotation: 90deg; }
.clock .time4 { --rotation: 120deg; }
.clock .time5 { --rotation: 150deg; }
.clock .time6 { --rotation: 180deg; }
.clock .time7 { --rotation: 210deg; }
.clock .time8 { --rotation: 240deg; }
.clock .time9 { --rotation: 270deg; }
.clock .time10 { --rotation: 300deg; }
.clock .time11 { --rotation: 330deg; }

.clock .stick {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transform-origin: bottom;
    background-color: rgb(11, 19, 19);
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.clock .stick.second {
    width: 5px;
    height: 47%;
    background-color: black;
}
.clock .stick.minute {
    width: 9px;
    height: 35%;
    background-color: black;
}
.clock .stick.hour {
    width: 12px;
    height: 40%;
    background-color: black;
}

